* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 16px;
}

.carousel {
  position: relative;
  height: 230px;
}

.carousel .panels > a {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  opacity: 0;
  z-index: 0;
  transition: all 0.6s;
}

.carousel .panels > a.active {
  opacity: 1;
  z-index: 1;
}
.carousel .panels .img1 {
  background: url(/Carousel/img1.jpg) no-repeat;
  background-size: 100%;
  background-position-y: 10%;
}

.carousel .panels .img2 {
  background: url(/Carousel/img2.jpg) no-repeat;
  background-size: 100%;
  background-position-y: 50%;
}
.carousel .panels .img3 {
  background: url(/Carousel/img3.jpg) no-repeat;
  background-size: 100%;
  background-position-y: 50%;
}
.carousel .panels .img4 {
  background: url(/Carousel/img4.jpg) no-repeat;
  background-size: 100%;
  background-position-y: 70%;
}

.carousel .arrow {
  position: absolute;
  z-index: 2;
  top: 50%;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: none;
  background-color: rgba(31, 45, 61, 0.11);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.2s;
}

.carousel .arrow::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

.carousel .arrow-pre {
  left: 10px;
  transform: translate(-50%, -50%);
}

.carousel:hover .arrow-pre {
  transform: translate(0, -50%);
  opacity: 1;
}

.carousel .arrow-next {
  right: 10px;
  transform: translate(50%, -50%);
}

.carousel:hover .arrow-next {
  transform: translate(0, -50%);
  opacity: 1;
}

.carousel .arrow-pre::after {
  transform: rotate(-135deg);
}

.carousel .arrow-next::after {
  transform: rotate(45deg);
}

.carousel .indicators {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
}

.carousel .indicators > li {
  display: inline-block;
  padding: 5px 0;
  cursor: pointer;
}

.carousel .indicators > li:after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background-color: #c0c4cc;
  border-radius: 5px;
}

.carousel .indicators > .active::after {
  background-color: #fff;
}
